@import "tailwindcss";

@font-face {
    font-family: 'vazir-Medium';
    src: url('./assets/fonts/Vazirmatn-Medium.ttf')format('truetype');
}

@font-face {
    font-family: 'vazir-light';
    src: url('./assets/fonts/Vazirmatn-Light.ttf')format('truetype');
}

#root {
    height: 100%;
    overflow:hidden;
}
.vazir-medium {
    font-family: vazir-Medium;
}

.vazir-light {
    font-family: vazir-light;
}
html {
    scrollbar-gutter: stable;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeIn 0.3s ease;
}

.modal-box {
    width: 400px;
    background-color: #4caf50;
    /* default success */
    color: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    opacity: 1;
    animation: fadeIn 0.3s ease;
    position: relative;
}

.modal-box.error {
    background-color: #f44336;
    /* red for error */
}

.modal-message {
    margin-bottom: 15px;
    font-size: 16px;
}

.modal-progress {
    height: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.modal-progress::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    animation: progressBar 10s linear forwards;
    border-radius: 5px;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes progressBar {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}